#poket-sample-result{
  width: auto;
  height: 960px; 
}

.poket-sample-result-header {
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(250,255,0,0.3);
}

.poket-sample-result-header-left {
  display: flex;
}

.poket-sample-result-back {
  width: 40px;
  height: 45px;

  margin: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  
  border: none;
  border-radius: 30px;
}

.poket-sample-result-back:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.poket-sample-result-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 34px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.poket-sample-result-empty-box {
  display: flex;

  height: 100px;

  background-color: rgba(255,255,255,1);
}

.poket-sample-result-main-box {
  background-color: rgba(70, 219, 219, 0.1);

  height: 784px;
}

.poket-sample-button-box {
  padding: 15px 50px 0 50px;

  display: flex;
  justify-content: space-between;
}

.poket-sample-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 30px;

  border: none;
  border-radius: 70%;

  background-color: rgba(255,255,255,1);

  font-size: 18px;
  font-weight: 400;
  line-height: 140%;

  cursor: pointer;
}

.poket-sample-button:hover {
  background-color: rgba(0,0,0,0.1);
}

.poket-sample-result-box {
  padding: 50px 15px 30px 15px;

  display: flex;
  flex-direction: row;
  gap: 70px;

  justify-content: center;
  align-items: center;
}

.poket-save-input-first {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-input-second {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-input-third {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-input-fourth {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-sample-name{
  height: 30px;

  font-size: 30px;
  font-weight: 600;
  line-height: 140%;

}
.poket-save-sample-type{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-specificity{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-character{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-thing{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-value {
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  font-weight: 600;
  line-height: 140%;

  border: none;
  border-radius: 75px;
  background-color: rgba(255,255,255,0.7);
}

.poket-save-sample-technology{
  font-size: 38px;
  font-weight: 550;
}

.poket-save-sample-HP {
  height: 30px;

  font-size: 28px;
}

.poket-save-sample-attack {
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-defence{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-special-attack {
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-special-defence{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-speed {
  height: 30px;

  font-size: 28px;
}


.poket-save-sample-technology-one{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-technology-two{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-technology-three{
  height: 30px;

  font-size: 28px;
}
.poket-save-sample-technology-four{
  height: 30px;

  font-size: 28px;
}