#poket-sample-update {
  width: auto;
  height: 960px;
}

.poket-update-header {
  height: 96px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(250,255,0,0.3);
}

.poket-update-header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1000px;
  height: 72px;

  color: rgba(0,0,0,0.5);
  font-size: 42px;
  font-weight: 600;

  border: 0.1px solid rgba(0,0,0,0.2);
  border-radius: 30px;

  background-color: rgba(255,255,255,1);
}

.poket-update-header-title:hover {
  cursor: pointer;
  color: rgba(0,0,0,1);
}

.poket-update-main {
  height: 814px;
  margin-top: 50px;
  
  background-color: rgba(255,255,255,1);
}

.poket-update-input-box {
  padding: 50px 15px 50px 15px;

  display: flex;
  flex-direction: row;
  gap: 70px;

  justify-content: center;
  align-items: center;

  border-radius: 50px;
  
  background-color: rgba(70, 219, 219, 0.2);
}

.poket-update-input-first {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.poket-update-sample-name {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-type {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-specificity {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-character {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-thing {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-input-second {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-update-sample-value{
  font-size: 24px;
  font-weight: 600;
}

.poket-update-sample-HP {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-attack {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-defence {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
  height: 30px;
}

.poket-update-sample-special-attack {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-special-defence {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-speed {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-input-third {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-update-input-fourth {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-update-sample-technology {
  font-size: 24px;
  font-weight: 600;
}

.poket-update-sample-technology-one {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-technology-two {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-technology-three {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-sample-technology-four {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  border: none;
  border-radius: 50px;
}

.poket-update-button-box {
  margin-top: 30px;

  height: 50px;

  display: flex;
  
  justify-content: center;
  align-items: center;

}

.poket-update-button {
  height: 75px;
  width: 85px;

  border-radius: 50px;
  border: none;

  font-size: 32px;
}

.poket-update-button:hover {
  cursor: pointer;
}