#poket-sample-save {
  width: auto;
  height: 960px; 
}

.poket-save-header {
  height: 96px;

  font-size: 48px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0,0,0,0.1);
}

.poket-save-main {
  height: 864px;
  
  background-color: rgba(255,0,0,0.1);
}

.poket-save-input-box {
  padding: 70px 15px 30px 15px;

  display: flex;
  flex-direction: row;
  gap: 70px;

  justify-content: center;
  align-items: center;

}

.poket-save-input-first {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-sample-name {
  height: 30px;
}

.poket-save-sample-type {
  height: 30px;
}

.poket-save-sample-specificity {
  height: 30px;
}

.poket-save-sample-character {
  height: 30px;
}

.poket-save-sample-thing {
  height: 30px;
}

.poket-save-input-second {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-sample-value{
  font-size: 24px;
  font-weight: 600;
}

.poket-save-sample-HP {
  height: 30px;
}

.poket-save-sample-attack {
  height: 30px;
}

.poket-save-sample-defence {
  height: 30px;
}

.poket-save-sample-special-attack {
  height: 30px;
}

.poket-save-sample-special-defence {
  height: 30px;
}

.poket-save-sample-speed {
  height: 30px;
}

.poket-save-input-third {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-input-fourth {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.poket-save-sample-technology {
  font-size: 24px;
  font-weight: 600;
}

.poket-save-sample-technology-one {
  height: 30px;
}

.poket-save-sample-technology-two {
  height: 30px;
}

.poket-save-sample-technology-three {
  height: 30px;
}

.poket-save-sample-technology-four {
  height: 30px;
}

.poket-save-button-box {
  margin-top: 30px;

  height: 50px;

  display: flex;
  
  justify-content: center;
  align-items: center;

}

.poket-save-button {
  height: 75px;
  width: 85px;

  border-radius: 15px;
  border: none;

  font-size: 32px;
}

.poket-save-button:hover {
  cursor: pointer;
}